



/* nav section */


.name-title {
    font-size: 35px;
}

.navItems {
    text-decoration: none;
    color: white;
    
}

.navDeco{
    background-color: rgba(5, 2, 3, 0.9);
}

/* End nav section */


/* Home section */

.skududu-1 {
    background-image: url("/media/ales-nesetril-Im7lZjxeLhg-unsplash-high.jpg");
    background-size: cover;
    height: 100vh;
}

.skududu-2 {
    background-image: url("/media/anas-alshanti-feXpdV001o4-unsplash-high.jpg");
    background-size: cover;
    height: 100vh;
}

.skududu-3 {
    background-image: url("/media/lee-campbell-DtDlVpy-vvQ-unsplash-high.jpg");
    background-size: cover;
    height: 100vh;
}

 a {
    text-decoration: none;
}

/* End Home section */


/* About section */

.about_section {
    background-color: rgb(23, 23, 16);
    height: 100vh;
}
.aboutText p{
    font-family:cursive ;
}

.about-card1 {
    width: 202px;
    background-color: rgb(23, 23, 16);
    border: none;
}

.about-card2 {
    width: 202px;
    background-color: rgb(23, 23, 16);
    border: none;
}

.about-card3 {
    width: 202px;
    background-color: rgb(23, 23, 16);
    border: none;
}

.aboutSchoolImg {
    width: 200px;
}

/* End About section */

/* Project section */

.projects_section {
    background-color: rgb(230, 222, 222);
    
}

.tictactoeimg {
    height: 400px;
}

/* End Project section */

/* Contact section */

.contact_section {
    background-color: rgb(23, 23, 16);
}

/* End Contact section */



/* LOB opdrachten sectie */

.periode1_design {
    background-color: rgb(238, 242, 250);
    
}

.periode2_design {
    background-color: rgb(222, 220, 245);
}

.periode3_design {
    background-color: rgb(238, 242, 250);

}


/* EIND LOB opdrachten sectie */